<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./resource/headerResource') %>
    <!-- Title -->
    <title><%= render.dynamicTitle %></title>
</head>
<body>
    <%  if (render.session != true) { 
            render.loggingMode = true
    %>
        <%- include('./resource/setLoginMode') %>
    <% } else { 
        // --------------------
        if (render.Storage !== null) {
            // Key exists and data is stored in 'storedValue'
            console.log('Data found:', render.Storage); %>
            <%- include('./resource/homepage') %>
    <% 
    } else {
            window.location.href = '/'
        }
    } %>
</body>
</html>