<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- /mobile-peticions -->
    <div class="d-flex vh-100 container">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <span class="title">Desde Celular</span>
                </div>
            </div>
        </div>
    </div>
    <!-- ./mobile-peticions -->
</body>
</html>