*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Definir nuevas entradas de login  */
input[type="text"],
input[type="password"]{
    text-align: left;
}
.reboot-for-login form input[type="text"],
.reboot-for-login form input[type="password"]{
    border: none;
    border-bottom: 2px lightskyblue solid;
}
.form-control:focus {
    outline: none;
}
/***
*
*   Animaciones de CSS 3
*
**/
.fx-gradient-animated {
    background: linear-gradient(133deg, #1936da, #8a0fdd);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}