<div class="homepage">
    <h1> Ha sido registrado, <%= render.Storage.nickname %></h1>
    <button type="button" class="btn btn-outline-primary"id="btn-log-out">
            log-out
    </button>
</div>




<script defer type="text/javascript" src="/index.js"></script>