<form>
    <!-- Formulario de Inico de Sesion  -->
    <div class="p-4 d-flex justify-content-center align-items-center" id="log-in">
        <div class="card text-center p-4">
            <form class="card-body" id="formulario-login">
                <h3 class="mb-4">Iniciar Sesion</h3>
                <div data-mdb-input-init class="form-outline md-form mb-3">
                    <label for="nickname-0" class="form-label ml-label text-muted">Usuario</label>
                    <input type="text" id="nickname-0" class="form-control" name="inp-name" placeholder="Nick4302" required>
                </div>
                <div data-mdb-input-init class="form-outline md-form mb-4">
                    <label for="pass-0" class="form-label ml-label text-muted">Contraseña</label>
                    <input type="password" id="pass-0" class="form-control" name="inp-password" required>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="change" id="view-pass">
                        <label class="form-check-label text-muted fz-1" for="view-pass">Check me out</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block mb-4" id="btn-submit-log-in">Iniciar
                        sesión</button>
                </div>
                <div id="formFooter">
                    <a class="underlineHover" id="btn-change-view" href="#sign-up">Registrarse</a>
                </div>
            </form>
        </div>
    </div>
    <!-- ./Formulario de Inico de Sesion  -->
</form>
<form>
    <!-- Formulario de registro  -->
    <div class="p-4 vh-100 d-flex d-flex justify-content-center vh-100" id="sign-up" hidden>
        <div class="p-5 card text-center">
            <form class="card-body" id="formulario-login">
                <h3 class="mb-4">Iniciar Sesion</h3>
                <!-- Login Form -->
                <div class="form-group md-form mb-3">
                    <label for="correo" class="ml-label form-text text-muted">Usuario</label>
                    <input type="text" id="nickname-1" class="form-control" name="inp-name" placeholder="josh1234"
                        required>
                </div>
                <div class="md-form mb-4">
                    <label class="ml-label form-text text-muted">Nombre</label>    
                    <input type="text" id="name-1" class="form-control" name="inp-name" placeholder="josh1234" required />
                </div>
                <div class="md-form mb-4">
                    <label class="ml-label form-text text-muted">Cedula</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">C-I</span>
                        <input type="number" id="ci-1" class="fadeIn second" name="inp-name" placeholder="josh1234" required />
                    </div>
                </div>
                <div class="md-form mb-4">
                    <label class="ml-label form-text text-muted">Contraseña</label>
                    <input type="password" id="pass-1" class="form-control" name="inp-password" required/>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="change" id="view-pass2">
                        <label class="form-check-label " for="view-pass2">mirar contraseña</label>
                    </div>
                </div>
                <div class="md-form mb-4">
                    <label class="ml-label form-text text-muted">Contraseña Confirmar</label>
                    <input type="password" id="pass-confirm" class="form-control" name="inp-password" required/>
                </div>
                <button type="submit"  class="btn btn-secundary btn-block mb-4" id="btn-submit-sign-up" required>Registrar Usuario</button>
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" id="btn-change-view2" href="#log-in">Iniciar sesion</a>
                </div>
            </form>
        </div>
    </div>
    <!-- ./Formulario de registro  -->
</form>
<script type="text/javascript">
    // Crear evento de Switch visibilidad 1
    document.getElementById('view-pass').addEventListener('click', (e) => {
        let hiddenPassword = false,
            targetInput = document.getElementById('pass-0'),
            // Definir tipo 
            typeHTML = targetInput.getAttribute('type') === 'password' ? 'text' : 'password';
        // Reset Type data 
        targetInput.setAttribute('type', typeHTML);
    }, false);
    // Crear evento de Switch visibilidad 2
    document.getElementById('view-pass2').addEventListener('click', (e) => {
        let hiddenPassword = false,
            targetInput = document.getElementById('pass-1'),
            // Definir tipo 
            typeHTML = targetInput.getAttribute('type') === 'password' ? 'text' : 'password';
        // Reset Type data 
        targetInput.setAttribute('type', typeHTML);
    }, false);
    // Cambiar vista Sign-up
    document.querySelector('#btn-change-view').addEventListener('click', (e) => {
        console.log('click')
        e.preventDefault();
        // Escribir en documento 
        let target = document.querySelector('#sign-up'),
            dir = document.querySelector('#log-in');
        // Condicional 
        if (target.hasAttribute('hidden')) {
            // Debug
            // console.log("Checked")
            // Cambiar atributos
            target.removeAttribute('hidden');
            dir.setAttribute('hidden', '');
        } else {
            console.log("ERROR IN CHANGE CONSOLE");
        }
    })
    // Cambiar a log-in
    document.querySelector('#btn-change-view2').addEventListener('click', (e) => {
        console.log('click')
        e.preventDefault();
        // Escribir en documento 
        let target = document.querySelector('#log-in'),
            dir = document.querySelector('#sign-up');
        // Condicional 
        if (target.hasAttribute('hidden')) {
            // Debug
            // console.log("Checked")
            // Cambiar atributos
            target.removeAttribute('hidden');
            dir.setAttribute('hidden', '');
        } else {
            console.log("ERROR IN CHANGE CONSOLE")
        }
    })
</script>
